﻿@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.BirthDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
